*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    padding: 15px 15px 0px 15px;
}



.header-left{
    float: left;
}
.header-right{
    float:right
}
.clear{
    clear: both;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
}
ul a{
    color: black;
    opacity: 0.8;
    cursor: pointer;
    padding: 0.5rem;
    text-decoration: none;
    
    

}
.header-right--appicon{
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.7;
}
.header-right--appicon:hover{
    opacity: 1;
}
.header-right--button{
    background-color: #4285F4;
    border: none;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 2px;
    font-weight: 700;
}
.header-right--button:hover{
    box-shadow: rgba(0,0,0,0.15)0px 1px 0px 0px;
}

/* main */
#google-logo{
    width: 272px;
    height: 95px;
    margin: 200px auto 0px;
    display: block;

}
.searchbar{
    width: 460px;
    height: 38px;
    border: 1px solid #d3d3d3;
    border-radius: 25px;
    margin: 28px auto;
}
.searchbar:hover{
    box-shadow: rgb(211,211,211)3px 3px 5px 0px;
}

#magnify-glass{
    height: 30px;
    width: 30px;
    margin-left: 10px; 
    vertical-align: middle;
} 
#search{
    width: 380px;
    height: 28px;
    border: none;
    outline: none;
    margin-top: 3px;
    font-size: 16px;
}
#microphone{
    width: 15px;
    height: 20px;
    vertical-align: middle;

}
.btn-container{
    text-align: center;
}
.btn-left,
.btn-right{
    height: 36px;
    border: none;
    background-color: #efefef;
    border-radius: 4px;
    padding: 1px 6px;
    margin: 8px 4px;

}
.btn-left:hover,
.btn-right:hover{
    border: 1px solid #d3d3d3;
    cursor: pointer;
}
.lang{
    text-align: center;
    margin: 20px 0px 13px;
}
.lang a{
    color: #000080;
    text-decoration: none;
   
}
/* footer */
.footer{
    position: fixed;
    bottom: 0px;
    background-color: #f2f2f2;
    line-height: 40px;
    width:100% ;
    color: #5f6368;

}
.footer-country{
    padding-left: 20px;
}
.footer-bottom{
    border-top: 1px solid #e4e4e4;
}
.footer-bottom-left{
    float: left;
    padding-left: 10px;

}
.footer-bottom-right{
    float: right;
    
}











