*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    padding: 15px 15px 0px 15px;
}



.header-left{
    float: left;
}
.header-right{
    float:right
}
.clear{
    clear: both;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
}
ul a{
    color: black;
    opacity: 0.8;
    cursor: pointer;
    padding: 0.5rem;
    
    

}
.header-right--appicon{
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.7;
}
.header-right--appicon:hover{
    opacity: 1;
}
.header-right--button{
    background-color: #4285F4;
    border: none;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 2px;
    font-weight: 700;
}
.header-right--button:hover{
    box-shadow: rgba(0,0,0,0.15)0px 1px 0px 0px;
}
#google-logo{
    width: 272px;
    height: 95px;
    margin: 200px auto 0px;
    display: block;

}
.searchbar{
    width: 460px;
    height: 38px;
    border: 1px solid #d3d3d3;
    border-radius: 25px;
    margin: 28px auto;
}


#microphone{
    height: 24px;

}
#magnify-glass{
    height: 20px;
    width: 20px;
} 